.cad-container {
  padding: 15px;
}

.cad-themes-container{
  padding: 25px;
}

.title-bar{
  background: #2c3840;
}

.cad-menu {
  color: #356799;
}

.cad-menu .badge{
  float: right;
}

.cad-menu :hover{
  background-color: #356799;
  color: white;
  border-radius: 5px;
}

.cad-title {
  color: gray;
  display: inline-block;
}

.cad-icon {
  font-size: 24px;
  padding: 5px;
}

.cad-icon.edit{
  color: #3ADB76;
}

.cad-icon.delete{
  color: #EC5840;
}

.cad-icon.settings{
  font-size: 18px;
}
.cad-icon.log{
  font-size: 18px;
}

.cad-icon.view{
  color: #356799;
}

.orbit{
  padding-top:50px;
}

p.group-align{
    text-align: right;
    color: #808080;
}

.cad-add-group {
  float: right;
  margin-right: 20px;
  font-size: 24px;
  color: #356799;
}

.cad-add-student {
  font-size: 20px;
  color: #356799;
  padding-left: 15px;
}

.cad-accordion-title {
  font-size: 22px;
}

/*Para Grafica  */
.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: #34495e;
    /* Control the thikness of your lines */
    stroke-width: 5px;
}

.ct-series-a .ct-point {
    /* Colour of your points */
    stroke: #2199e8;
    /* Size of your points */
    stroke-width: 20px;
}

.cad-submit {
  float: right;
  margin-bottom: 0px;
  background-color: white;
  color: #808080;
  border: solid 1px #CACACA;
  border-radius: 5px;
  width: 120px;
  margin-top: 5px;
}

.cad-form label{
  color:gray;
}

.cad-form input{
  border-radius: 5px;
}

.cad-modal-title {
  color:gray;
}